.wrapper {
  background: #fff;
  color: #222;
}

a {
  color: rgb(0, 68, 187);
}

xmp {
  background: #f8e6e3;
  color: #333;
}

date {
  color: #777;
}

header, header a.unactive {
  color: rgba(255, 255, 255, 0.55) !important;
}

header a {
  color: #fff !important;
}

header a:hover {
  color: #fff;
}

header .logo_ img {
  border: 3px solid #f5c507;
  background: #f5c507;
}

header .text_ {
  border: 1px solid #f5c507;
  color: #fff;
  background: #f5c507;
}

header .theme-selector span {
  color: #fff;
}

.main-banner {
  background: #f7f5fb;
}

.main-banner h1 {
  color: #333;
}

footer {
  background: #444;
  color: #fff;
}

.page-articles a.theme {
  color: orange;
}

.page-articles a.clear-filter {
  color: green;
}

.page-article form input[type=text], .page-article form select, .page-article form textarea {
  border: 1px solid #ddd;
}

.page-article form .detail-text {
  background: rgb(255, 251, 232);
}

.page-contacts .map {
  border: 1px solid #ddd;
}

.page-contacts .input-group-text span {
  color: #dc3400;
}


.page-my-works tr.payment td {
  color: #7701a9;
}

.page-my-works tr.plan td {
  color: #0a31a2;
}

.page-my-works tr.today td {
  color: #177d08;
}

.page-my-works tr.error td {
  color: #e80f0f;
}
