/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&display=swap');*/


/**/

/* fix bootstrap */

.content {
    padding-left: 0px;
    padding-right: 0px;
}

/*global */

* {
    /*font-family: sans-serif, Roboto, Arial;*/
    font-family: Roboto, Arial;
    font-size: 15px;
}

h1 {
    font-size: 32px;
    margin: 10px 0px;
}

h2 {
    font-size: 22px;
    margin: 20px 0px 10px 0px;
}

a {
    color: #e80034;
    text-decoration: none;
}

a:hover {
}

code {
    display: block;
    white-space: pre-wrap;
    /*font-size: 15px;
    background: #FDF6E3;
    border: 1px solid #ddd;
    color: #d33682;*/
    padding: 10px;
    margin: 5px 0px;
}

code * {
    /*font-family: Tahoma !important;*/

}

.wrapper {
    margin: 0px;
    /*background: #f0f2f4;*/
}

header {
    /*background: #fff;*/
    background: #f7f7fb;
    padding: 15px 0px;
}

header .logo img {
    float: left;
    text-decoration: none;
    width: 68px;
    margin: 0px;
    padding: 0px;
    padding: 4px;
    border: 2px solid #f5c507;
    background: #f5c507;
}

header .text {
    float: left;
    padding: 10px 14px 8px 0px;
    border: 1px solid #f5c507;
    font-size: 27px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1;
    color: #fff;
    background: #f5c507;
}

header .text span {
    display: block;
    font-size: 21px;
    font-weight: normal;
    padding-left: 1px;
}

header .header-menu a {
    display: inline-block;
    margin: 20px 10px;
}

header .auth {
    margin: 20px 10px;
}

header .lang {
    margin: 20px 10px;
}

.breadcrumbs {
    font-size: 14px;
}

.breadcrumbs a {
    color: #fff;
}

.breadcrumbs a:hover {
    color: #e80034;
}

/*
.title-area {
    background: #e2e2e2;
}
*/

.title-area {
    background: url(/img/code_text_colorful_top100.jpg);
    background-size: cover;
    color: #fff;
    padding-bottom: 10px;
}

.content {
    margin: 15px 15px 25px 0px;
    padding: 15px 0px;
    /*background: #eee;*/
}

.sidebar {
    margin: 15px 0px 25px 0px;
    padding: 15px;
    /*background: #ccc;*/
}

footer {
    padding: 20px 0px;
    background: #444;
    color: #fff;
}

/*************************************************** articles page */
.page-articles {
}

.page-articles a.theme {
    color: orange;
}

.page-articles a.clear-filter {
    color: green;
}

.page-article form input[type=text], .page-article form select, .page-article form textarea {
    width: 100%;
    border: 1px solid #ddd;
}

.page-article form textarea {
    height: 500px;
}

.page-article form .preview-text {
    height: 80px;
}

.page-article form .detail-text {
    font-family: MONOSPACE;
    color: #227167;
    font-size: 12px;
}





