<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout/head::head"></head>
<body>
<div th:replace="layout/header::header"></div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="page-articles">
        <div th:each="article : ${ob.articles}">
          <a th:href="@{'/articles/'+${article.code}}" th:text="${article.name}"></a>
          <date><small th:text="${#dates.format(article.date, 'yyyy-MM-dd')}"></small></date>
          <br>
          <p th:text="${article.preview_text}"></p>
        </div>
        <br/>
        <p><i>Все записи были сделаны для сохранения собственного опыта какой либо реализации, шпаргалки, я буду рад
          если
          оно вам в чем то поможет. Приветствуются комментарии с предложениями что то упростить или улучшить.</i></p>
        <span th:each="page : ${ob.pagen}">
        <span th:switch="${page.value}">
          <span th:case="'1'"
                th:text="${page.key}"></span>
          <a th:case="'0'"
             th:text="${page.key}"
             th:href="@{'/articles?page='+${page.key}}"></a>
        </span>
      </span>
        <br/>
        <br/>
      </div>
    </div>
  </div>
</div>
<footer th:replace="layout/footer::footer"></footer>
</body>
</html>