<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout/head::head"></head>
<body>
<div th:replace="layout/header::header"></div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 th:text="${ob.error}"></h1>
        <h2>Произошла ошибка</h2>
        <br/>
        <a href="/">На главную</a>
        <br/>
      </div>
    </div>
  </div>
</div>
<footer th:replace="layout/footer::footer"></footer>
</body>
</html>